*{margin:0;padding:0;vertical-align:middle;box-sizing:border-box;}
html,body {width:100%;height:100%;}
body {font:normal 14px/1 '돋움','arial';color:#222328;background:#fff;}
a {text-decoration:none;color:#222328;}
ul,li {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:14px;font-weight:normal;}
em,strong,address,i {font-style:normal;}
header,main,footer,section,nav,aside,article {display:block;}
.blind {display:block;text-indent:-2000px;overflow:hidden;}